@page {
    margin: 0px;
   }
  
body {
    counter-reset: section;
    font: 12pt "cambria";
    margin: 10mm
}

.sheet {
    margin: 0;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    page-break-after: always;
}

.A4 .sheet {
    width: 210mm;
    height: 296mm;
}

.A4.landscape .sheet {
    width: 297mm;
    height: 209mm;
}

/** Padding area **/
.sheet.padding-5mm { padding: 5mm }
.sheet.padding-10mm { padding: 10mm }
.sheet.padding-15mm { padding: 10mm 15mm 15mm 15mm }
.sheet.padding-20mm { padding: 20mm }
.sheet.padding-25mm {
  padding-left: 25mm;
  padding-top: 20mm;
  /* padding-bottom: 30mm; */
  padding-right: 25mm;
}

/** For screen preview **/
@media screen {
    body { background: #e0e0e0 }
    .sheet {
      background: white;
      box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
      margin: 5mm;
    }
  }
  
  /** Fix for Chrome issue #273306 **/
  @media print {
    body.A4, body.A5.landscape {
       width: 210mm;
       height: 296mm;
    }
  }