body {
  font-family: Calibri, Candara, Segoe, Segoe UI, Arial, sans-serif;
  text-align: justify;
}
table {
  page-break-inside: auto;
}
tr {
  page-break-inside: avoid;
  page-break-after: auto;
}
thead {
  display: table-header-group;
}
tfoot {
  display: table-footer-group;
}

table.penilaian {
  /* border: 2px solid #000000; */
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  font-family: cambria;
}

table.penilaian td,
table.penilaian th {
  border: 1px solid #000000;
  padding: 2px 2px;
}

table.penilaian td {
  font-family: cambria;
  font-size: 10px;
}

.title-tpa h4 {
  font-size: 12px;
}

.title-table-tpa {
  font-weight: 700;
  text-align: center;
}

.body-table-tpa {
    text-align: center;
}

.body-jenis-tes {
  text-align: left;
}

.collumn-empty {
  height: 20px;
}

.title-table-tpa-simulasi {
    text-align: center;
}

.text-left {
    text-align: left;
}

.border-empty {
    border: 0px;
}